/*Stop over scroll behavio*/
html, body {
    overscroll-behavior: none;
}

/*Add body margin and padding*/
* {
    margin: 0;
    padding: 0;
}

/*Add flex to the top navigation*/
.topnav {
    display: flex;
}

/*Put the contact to the right side*/
.topnav a:last-child {
    margin-left: auto
}

/*Add background color to the top navigation*/
.topnav {
    background-color: lawngreen;
}

/*Style the link inside the top navigation*/
.topnav > a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 9px 10px;
}

/*Add background color and text color to Active page*/
.topnav .active {
    background-color: black;
    color: white;
}

/*Add hover effect to top navigation bar*/
a:hover {
    background-color: white;
}

/*Add style to the cover area */
/*
.cover {
    background-color: deeppink;
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
}

.cover > h3 {
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px
}
*/

.cover {
    display: table;
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: hotpink;
}

.cover > h3 {
    display: table-cell;
    vertical-align: middle;
}

/*Add style to project grid container*/
article {
    background-color: aqua;
    padding: 20px;
}

.container div {
    background-color: dimgray;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    padding: 50px;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
}

/*End navigation bar*/
footer {
    position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: sandybrown;
	color: white;
	text-align: center;
}




























